div.user {
    border:1px solid black;
    padding:10px;
}
div.user div {
    cursor: pointer;
}
div.user.selected {
    background-color: greenyellow;
}
.panel:nth-child(4) {
    background-color: #f0f8ff;
    border: 2px solid #007bff;
}